.mainDiv {
  height: 100vh;
  display: flex;
  padding: 2rem;
  flex-direction: column;
  justify-content: center;
  background-color: #22763A;
  gap: 2rem;
}

.create {
  background-color: white;
  height: 30%;
  border-radius: 1rem;
  -webkit-box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.73);
  box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.73);
}

.results {
  background-color: white;
  height: 40%;
  border-radius: 1rem;
  -webkit-box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.73);
  box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.73);
}

.input { 
  border: 3px solid #22763A;
  border-radius: .5rem;
  height: 3rem;
  width: 40%;
  -webkit-box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.73);
  box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.73);
}

.searchBtn {
  font-size: 1em; 
  border-radius: .5rem;
  border: none;
  cursor: pointer;
  text-decoration: none; 
  display: inline-block; 
  background-color: #34A853; 
  color: #ffffff; 
  -webkit-box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.73);
  -moz-box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.73);
  box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.73);
}