.Home {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff; /* Replace with the background color from your Figma design */
  }
  
  .Content {
    text-align: center; /* Centers the text */
    margin-top: 150px;
    margin-bottom: 150px;
    background-color: white;
    min-height: 650px;
    min-width: 1400px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    -webkit-box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.73);
    box-shadow: 6px 6px 29px -4px rgba(0, 0, 0, 0.73);
    padding: 10px;
    border: 4px solid #22763A;
  }
  
  .h3 {
    font-size: 24px; /* Adjust font size to match Figma design */
    color: #333; /* Replace with the actual color from your Figma design */
    margin-bottom: 20px; /* Adjust space between title and logo */
  }
  
  .btn_row {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .btn_row button {
    border: 2px solid #22763A;
    background-color: #22763A;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 60px;
    padding-right: 60px;
    border-radius: 5px;
    font-size: 16px;
  }

  .btn_row button:hover {
    border: 2px solid #48cd6b;
    background-color: #48cd6b;
    cursor: pointer;
  }